<li>
  <span class="content">
    <p> <b> Source : </b> <%= offerride.source %> </p>
  </span>
  <span class="content">
    <p> <b> Destination : </b> <%= offerride.destination %> </p>
  </span> 
  <span class="content">
    <p> <b> Date of ride : </b> <%= offerride.date %> </p>
  </span> 
  <span class="content">
    <p> <b> Departure time : </b> <%= offerride.time %> </p>
  </span> 
  <span class="content">
    <p> <b> Cost for Each person : </b> Rs. <%= offerride.cost %> </p>
  </span> 
  <span class="content">
    <p> <b> Total seats : </b> <%= offerride.totalseats %> </p>
  </span> 
  <span class="content">
    <p> <b> Seats left : </b> <%= offerride.totalseats - offerride.bookrides.sum(:numseats) %> </p>
  </span> 
  <span class="content">
    <p> <b> Contact : </b> <%= offerride.contactnum %> </p>
  </span> 
  <% if current_user?(offerride.user) %>
    <%= link_to "Close this ride?", offerride, method: :delete,
                    data: { confirm: "You sure?" }%> | 
    <%= link_to "View bookings", bookride_path(id: offerride.id, flag: 1) %> | 
    <%= link_to "Edit", edit_offerride_path(offerride.id) %>
  <% else %>
    <% if already_booked_seat(offerride, current_user) %>
      <%= link_to "Book more seats?", edit_bookride_path(current_user_book_id(offerride), flag: 2)%>
    <% else %> 
      <%= link_to "Book this ride", new_offerride_bookride_path(offerride.id) %>
    <% end %>
  <% end %> 
</li>