<h1>Update a Ride</h1>

<%= form_for (@offerride) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :source %>
    <%= f.text_field :source, readonly: true %><br>
  <%= f.label :destination %>
    <%= f.text_field :destination, readonly: true %><br>
  <%= f.label :date %>
    <%= f.text_field :date, type: 'date', readonly: true %><br>
  <%= f.label :time %>
  <%= f.text_field :time, type: 'time', readonly: true %><br>
  <%= f.label :cost %>
  <%= f.number_field :cost, :step => 'any' %><br>
  <%= f.label :totalseats %>
  <%= f.number_field :totalseats %><br>
  <%= f.label :contactnum %>
  <%= f.number_field :contactnum, readonly: true %><br>
  <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
<% end %>

<%= link_to "Cancel", offerrides_path %>
