<li>
  <span class="content">
    <p> 
      <% if @book_details == 1 %>
        <b> User name : </b> <%= bookride.user.name %> 
      <% end %>
    </p>
  </span>
  <span class="content">
    <p> 
      <% if @book_details != 1 %>
        <b> Source : </b> <%= bookride.source %> 
      <% end %>
    </p>
  </span>
  <span class="content">
    <p>
      <% if @book_details != 1 %>
        <b> Destination : </b> <%= bookride.destination %> 
      <% end %>
    </p>
  </span> 
  <span class="content">
    <p>
      <% if @book_details != 1 %>
        <b> Date of ride : </b> <%= bookride.date %> 
      <% end %>
    </p>
  </span> 
  <span class="content">
    <p> 
      <% if @book_details != 1 %>
        <b> Departure time : </b> <%= bookride.time %> 
      <% end %>
    </p>
  </span> 
  <span class="content">
    <p>
      <b> Total cost : </b> Rs. <%= bookride.totalcost %> 
    </p>
  </span> 
  <span class="content">
    <p>
      <b> Total seats : </b> <%= bookride.numseats %>
    </p>
  </span>
  <span class="content">
    <p>
      <% if @book_details != 1 %>
        <b> Rider's contact : </b> <%= bookride.offerride.contactnum %>
      <% end %>
    </p>
  </span> 
  <% if current_user?(bookride.user) %>
    <%= link_to "Cancel few seats?", edit_bookride_path(bookride.id, cancel_book_flag: 1) %> | 
    <%= link_to "Book more seats?",  edit_bookride_path(bookride.id, cancel_book_flag: 2)%> | 
    <%= link_to "Cancel Booking?", bookride, method: :delete,
                    data: { confirm: "You sure?" }%> 
  <% end %> 
</li>