<h1>Book more seats</h1>
<%= form_for (@bookride), :url => { :action =>'bookmoreupdate', :id => @bookride.id, :seatsleft => @seatsleft } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :source %>
  <%= f.text_field :source, readonly: true%><br>
  <%= f.label :destination %>
  <%= f.text_field :destination, readonly: true %><br>
  <%= f.label :date %>
  <%= f.text_field :date, type: 'date', readonly: true %><br>
  <%= f.label :time %>
  <%= f.text_field :time, type: 'time', readonly: true %><br>
  <%= f.label :seatsleft %>
  <%= f.number_field :seatsleft, value: @seatsleft, readonly: true %><br>
  <%= f.label :seatsrequired%>
  <%= f.number_field :numseats, value: '' %><br>
  <%= f.submit "Book", class: "btn btn-large btn-primary" %>
<% end %>
<%= link_to "Cancel", bookrides_path %>
