<li>
  <span class="content">
    <p> <b> Source : </b> <%= getride.source %> </p> </span>
  <span class="content">
    <p> <b> Destination : </b> <%= getride.destination %> </p>
  </span> 
  <span class="content">
    <p> <b> Date of ride : </b> <%= getride.date %> </p>
  </span> 
  <span class="content">
    <p> <b> Departure time : </b> <%= getride.time %> </p>
  </span> 
  <span class="content">
    <p> <b> Cost of Each person : </b> <%= getride.cost %> </p>
  </span> 
  <span class="content">
    <p> <b> Total seats : </b> <%= getride.totalseats %> </p>
  </span> 
  <span class="content">
    <p> <b> Seats left : </b> <%= getride.seatsleft %> </p>
  </span> 
  <span class="content">
    <p> <b> Contact : </b> <%= getride.contactnum %> </p>
  </span> 
</li>